body{
    font-family: 'Inter', sans-serif;
  }
  h2{
    line-height: 45px !important;
  }
  .header_section nav {
    background: none;
    padding: 0;
  }
  .footer_wrap {
    background: #161C28;
}
.newslatter_box {
  border-radius: 70px;
  border: 2px solid #A6A6A6;
  padding: 5px;
  max-width: 410px;
}
.newslatter_box form {
  display: flex;
  justify-content: space-between;
}
.newslatter_box input[type="text"] {
  color: #A6A6A6;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  height: 46px;
  width: 85%;
  padding: 0 10px;
  border: none;
  margin-right: 10px;
  float: left;
  background: none;
}
.newslatter_box button {
  background: url(./assets/imagesource/submit_icon.png) no-repeat 0 0;
  width: 46px;
  height: 46px;
  border: none;
}

.get_started {
  border-radius: 20px;
  background: #222938;
  padding: 50px 65px 65px 65px;
}
.banner_area {
  position: relative;
}
.banner_area:before {
  position: absolute;
  right: 0;
  top: -300px;
  background: url(./assets/imagesource/body_right.png) no-repeat 0 0;
  content: "";
  display: block;
  width: 1317px;
  height: 1904px;
  z-index: -1;
}
.home_banner_cont h1 {
  position: relative;
  line-height: 90px;
}
.home_banner_cont h1:before {
  position: absolute;
  left: 0;
  bottom: 50px;
  background: url(./assets/imagesource/curve_img.png) no-repeat 0 0;
  content: "";
  display: block;
  width: 487px;
  height: 34px;
}

.slick-prev:before {
  color: #000000 !important;
  font-size: 40px !important;
}
.slick-next:before {
  color: #000000 !important;
  font-size: 40px !important;
}
.slick-prev {
  left: -60px !important;
}
.slick-next {
  right: -35px !important;
}

/*  */

.choose_your_plan_section {
  position: relative;
}

.choose_your_plan_section:before {
  position: absolute;
  right: 0;
  top: -1200px;
  background: url(./assets/imagesource/body_bottom.png) no-repeat 0 0;
  content: "";
  display: block;
  width: 1317px;
  height: 2634px;
  z-index: -1;
}

/*  */

.plan_tab_area .react-tabs ul.react-tabs__tab-list {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05);
  border-bottom: none;
  padding: 10px;
  width: 325px;
  margin: 0 auto 50px;
}

.plan_tab_area .react-tabs ul.react-tabs__tab-list li.react-tabs__tab.react-tabs__tab--selected {
  border-radius: 10px;
  background: #c9b575;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  padding: 0 25px;
  display: inline-block;
  border: none;
}

.plan_tab_area .react-tabs ul.react-tabs__tab-list li.react-tabs__tab {
  border-radius: 10px;
  background: #ffffff;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  padding: 0 25px;
  display: inline-block;
  border: none;
  margin: 0 5px;
}

.our_study_container img {
  display: inline-block !important;
}

/*  */

@media only screen and (max-width:767px) {
  h2 {
    line-height: 40px !important;
  }
  .home_banner_cont h1:before {
    display: none;
  }
  .home_banner_cont h1 {
    line-height: 40px;
  }
  .banner_area:before {
    display: none;
  }
  .choose_your_plan_section:before {
    display: none;
  }

  /*  */

  .header_section nav ul {
    background: #ffffff;
    text-align: center;
    padding: 10px 0;
    box-shadow: -1px 2px 12px 4px rgba(209,209,209,0.59);
    -webkit-box-shadow: -1px 2px 12px 4px rgba(209,209,209,0.59);
    -moz-box-shadow: -1px 2px 12px 4px rgba(209,209,209,0.59);
  }
  .header_section nav ul li a {
    color: #000000;
    padding: 5px 0;
    display: block;
  }
  .header_section nav ul li a:hover {
    color: #b08d57;
  }

  /*  */

  .plan_tab_area .react-tabs ul.react-tabs__tab-list li.react-tabs__tab.react-tabs__tab--selected {
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
  }
  .plan_tab_area .react-tabs ul.react-tabs__tab-list li.react-tabs__tab {
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
  }
  .plan_tab_area .react-tabs ul.react-tabs__tab-list {
    width: 270px;
  }
  .get_started {
    padding: 30px 30px 40px 30px;
  }


}

@media screen and (min-width:732px) and (max-width:1024px) {

  h2 {
    line-height: 40px !important;
  }
  .home_banner_cont h1:before {
    display: none;
  }
  .home_banner_cont h1 {
    line-height: 40px;
  }
  .banner_area:before {
    display: none;
  }
  .choose_your_plan_section:before {
    display: none;
  }

}